<!-- about.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>About</title>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h1>About Us</h1>
    <p>Welcome to Nimbus Nerds Blog! We are a community of tech enthusiasts sharing our knowledge and passion for all things tech.</p>
  </div>
</body>
</html>