<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <button onclick="goBack()" class="back-button">Back</button> <!-- Replace the hyperlink with a button -->
    <div class="scrollable-content">
      <%- content %>
    </div>
  </div>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
</body>
</html>