<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <!--blog.html-->
  <div class="container">
    <a href="/" class="back-button">Back</a>
    <%- content %>
  </div>
</body>
</html>