<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <a href="/" class="back-button">Back</a>
    <div class="scrollable-content">
      <%- content %>
    </div>
  </div>
</body>
</html>