<!-- contact.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Contact Us</title>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h1>Contact Us</h1>
    <p>Have questions or comments? Reach out to us at nimbusnerds@example.com.</p>
  </div>
</body>
</html>