<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container main-content"> <!-- Add main-content class here -->
      <h1>Welcome to Nimbus Nerds Blog!</h1>
      <p>Here are our latest blog posts:</p>
      <%- links %>
      <div class="dropdown">
        <a href="#" class="dropbtn">Azure</a>
        <div class="dropdown-content">
          <% azurePosts.forEach(function(post) { %>
            <%- post %>
          <% }); %>
        </div>
      </div>
    </div>
    <script src="/dropdown.js"></script>
  </body>
</html>